<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
   		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   		<script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
<title>Idaho</title>
<!-- for-mobile-apps -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Victory Pro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>

<!-- //js -->
<link href="css/ihover.css" rel="stylesheet" media="all">
<link href="css/hover_pack.css" rel="stylesheet" media="all">

<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		
	<!-- start-smoth-scrolling -->
<script src="js/hover_pack.js"></script>
</head>
<body ng-controller="ctrl1">
<!-- header -->
<div class="header">
	<div class="container">
		<div class="logo">
			<h1>
				<a href="index.html">
					<span class="glyphicon glyphicon-flight" aria-hidden="true"></span>Find your Travel Buddy	
				</a>
			</h1>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner">
	<div class="container">
	<!-- navigation -->
		<div class="navigation">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li class="hvr-underline-from-left button2 active"><a class="scroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#about">ABOUT</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#services">Start Here</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#gallery">GALLERY</a></li>
						
					  </ul>
					<div class="search">
						<!-- start search-->
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						<!-- search-scripts -->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->

					</div>
				  <div class="clearfix"></div>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	<!-- //navigation -->
		<div class="banner-info">
			<script src="js/responsiveslides.min.js"></script>
			<script>
									// You can also use "$(window).load(function() {"
									$(function () {
									 // Slideshow 4
									$("#slider3").responsiveSlides({
										auto: true,
										pager: true,
										nav: true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
										}
										});
										});
			</script>
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3>Come and discover amazing Idaho with amazing people</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>Travelling alone is not fun, why not find some one alike you</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>Meet your Travel Companion Here!!</h3>
							
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="more-button">
			<a href="#about" class="hvr-rectangle-out button scroll">SEE MORE ABOUT US</a>
		</div>
	</div>
</div>
<!-- //banner -->
<!--banner-bottom-->
<div class="banner-bottom">
	<div class="container">
		<h3 class="tittle">WELCOME TO OUR APPLICATION</h3>
		<div class="col-md-1"> </div> 
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/sonika.jpg" alt="img"></div>
                      <div class="info">
                        <h4>SONIKA ARORA</h4>
                       
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/Sagar.jpg" alt="img"></div>
                      <div class="info">
                        <h4>Sagar Dafle</h4>
                       
                      </div>
					</a>
				</div>
		</div>
		</div>
	</div>
</div>
<!--//banner-bottom-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="tittle">ABOUT</h3>
		<div class="about-grids">
			<div class="col-md-7 about-left-one">
				<img src="images/solotravel.jpg" alt="" />
			</div>
			<div class="col-md-5 about-left-two">
				<!-- <h4>SELECTION OF COLLEGES</h4> -->
				<h4>Planning your Idaho Holidays.Confused? Never travlelled alone? Looking for people in same situation like yours?
				You are just at right place.Feed your interest here and this will find all people having same confusions as yours.
				Having same interests as yours.And alike people make a perfect match for creating beautiful memories for your 
				wonderful trips </h4>  
			</div>
			<div class="clearfix"></div>
		</div>
		
	</div>
</div>
<!--//about-->
<!--special-->

<!--//special-->
<!--services-->
<div id="services" class="services">
	<div class="container">
		<a href="login"><h3 class="tittle">Start Here</h3></a>
		
		<!-- <div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-pencil"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div> -->
		<div class="clearfix"></div>
	</div>
</div>
<!--//services-->
<!--gallery-->
<div id="gallery" class="gallery">
	<div class="container">
		<h3 class="tittle t-two">GALLERY</h3>
		 <script src="js/lightbox.js"></script>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahoa.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahoa.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Mesmerizing Mountains</h4>
				
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahob.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahob.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Perfect View</h4>
				  </div>
			</a>
		</div>
		
		<div class="col-md-4 gallery-grid">
			<a href="images/idahoe.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahoe.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Fall in love</h4>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahof.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahof.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Serene view</h4>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahog.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahog.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Beautiful Colors</h4>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahoh.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahoh.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Perfect Click</h4>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahoi.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahoi.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Relaxing </h4>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idaho.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idaho.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Close to Nature</h4>

				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/idahoc.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/idahoc.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">Amazing Lights</h4>
				  </div>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//gallery-->


<!-- //footer -->
<!--footer-bottom-->
	<div class="footer-bottom">
		<div class="container">		
				
			
		</div>
	</div>
<!--//footer-->	
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>

</html>