		
   		
<div ng-controller="findmybuddyctrl">
<div class="col-md-12 ser-grid">
    <h4>Travellers alike you...</h4>
	    <table class="table">
	     <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone No</th>
            <th></th>
        </thead>
			<tr>
				
			</tr>
			<tr ng-repeat="data in userList">
				<td>{{data.firstname}}</td>
				<td>{{data.lastname}}</td>
				<td>{{data.emailaddress}}</td>
				<td>{{data.phone}}</td>
			</tr>
		</table>
</div>
</div>

    
